<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Plugin.Permissions" version="1.1.7" targetFramework="portable-net45+win+wpa81+MonoAndroid10+xamarinios10+MonoTouch10" />
  <package id="Plugin.Share" version="4.0.2" targetFramework="portable-net45+win+wpa81+MonoAndroid10+xamarinios10+MonoTouch10" />
  <package id="Xam.Plugin.ExternalMaps" version="3.0.0" targetFramework="portable-net45+win+wpa81+MonoAndroid10+xamarinios10+MonoTouch10" />
  <package id="Xam.Plugin.Geolocator" version="3.0.4" targetFramework="portable-net45+win+wpa81+MonoAndroid10+xamarinios10+MonoTouch10" />
  <package id="Xam.Plugin.LocalNotifications" version="1.0.0.0" targetFramework="portable-net45+win+wpa81+MonoAndroid10+xamarinios10+MonoTouch10" />
  <package id="Xam.Plugin.Media" version="2.3.0" targetFramework="portable-net45+win+wpa81+MonoAndroid10+xamarinios10+MonoTouch10" />
  <package id="Xam.Plugins.Messaging" version="3.2.1" targetFramework="portable-net45+win+wpa81+MonoAndroid10+xamarinios10+MonoTouch10" />
  <package id="Xam.Plugins.Settings" version="2.1.0" targetFramework="portable-net45+win+wpa81+MonoAndroid10+xamarinios10+MonoTouch10" />
  <package id="Xamarin.Forms" version="2.2.0.45" targetFramework="portable-net45+win+wpa81+MonoAndroid10+xamarinios10+MonoTouch10" />
</packages>